:root {
  --xaxa:#83C9F4;
  --noob:#E3E7AF;
  --top:#222A68;
  --mid:#D95D39;
  --hehe:#136F63;
  --moyai:#F3C677;
  --yar:#7FBEAB;
      --primary:var(--hehe);
    --secondary:var(--yar);
    --h1:7.594rem;
    --h2:5.063rem;
    --h3:3.375rem;
    --h4:2.25rem;
    --h5:1.5rem;
    } */
     body,
    html,
    * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
    }
  
  
    .card {
       display: flex;
       align-items: center;
       text-align: center;
       flex-wrap: wrap;
       justify-content: space-around;
    }
  
     .laquestion {
       font-size: 1rem;
       background-color: var(--top);
       padding: 2%;
       margin: 2rem 2rem;
       width: 450px;
       height: 40vh;
    }
 
    h3{
     border-radius: 5px;
     margin-top: 2rem;
    }
  
  
    h4{
     border-radius: 5px;
     margin-top: 0rem;
    }
  
    h1{
     font-size: 3rem;
     text-align: center;
     color: var(--xaxa);
    }
 
